body {
    /* background-image: url("./asset/bg.avif");
    background-repeat: no-repeat;
    background-size: 100vw 140vh;
    background-attachment: fixed; */

    background-color: rgb(210 230 254);

}